*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PKMN-RBYGSC';
  src: url('/Fonts/PKMN-RBYGSC.ttf') format('truetype');
}
body {
  font-family: 'PKMN-RBYGSC', sans-serif;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); 
  background-color: rgb(233, 233, 233);
  color: white;
  background-image: url("../imagenes/fondolegals.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 1s ease;
}
/*HEADER Y FOOTER */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: rgba(34, 29, 29, 0.486);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 40px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.footer-content p {
  margin: 0;
}

.footer-content p:first-child {
  margin-right: 40px; 
}

.footer-content a {
  color: white;
  text-decoration: none;
}

/*HEADER Y FOOTER */

h1, h2 {
  text-align: center;
  text-shadow: 2px 2px 4px rgb(18, 1, 1); 
  max-width: 100%;
  font-size: 24px;
}


@media (max-width: 500px) {
 
  body{
    background-image: url(/imagenes/responsivelegal.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 0 10px;
  }


  footer {
   font-size: 8px;
  }
  h1, h2 {
    font-size: 18px;
  }
}

