body {
    font-family: 'Ubuntu Light', sans-serif;
    background-color: black;
    color: rgb(16, 123, 107);
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url(fondolegal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  #cart {
    margin-left: 30px;
  }
  
  h1,h2 {
    text-align: center;
    text-shadow: 2px 2px 4px rgb(18, 1, 1); /* Agrega el efecto de borde blanco */
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  footer {
    background-color: black;
    padding: 7.5px;
    height: 50px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .navbar-content a {
    text-decoration: none;
  }
  
  .footer-content p:first-child {
    margin-right: 20px;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: row;
      align-items: center;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-menu li {
      margin: 0 10px;
    }
  
    .navbar-menu li a {
      text-decoration: none;
      color: white;
    }
  }
  
  @media (min-width: 769px) {
    .navbar-toggle {
      display: none;
    }
  
    .navbar-menu {
      display: flex;
    }
  
    .navbar-menu li {
      margin: 0;
    }
  
    .navbar-menu li a {
      text-decoration: none;
      color: white;
    }
  }
  